{% extends "base/base.html" %}
{% block contenido %}

	<div class="row mb-2">

	<h1>{{object.nombre}}</h1>
	<div class="row">
		<div class="col-md-6">
			{% if object.imagen %}
				<img src="{{object.imagen.url}}">		
			{% else %}
				<p>Imagen no disponible</p>
			{% endif %}
		</div>
		<div class="col-md-6">
			<h1>$ {{object.precio}}</h1>
			<small><b>Total de unidades: {{object.cantidad}}</b></small>
			<br>
			{% if object.activo %}
				<small>El producto se encuentra activo</small>
			{% else %}
				<small>El producto NO se encuentra activo</small>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a href="{% url 'productos:listar' %}">Volver</a>
		</div>
	</div>
	<a href="{% url 'productos:crear_comentario' %}">Hacer un comentario</a>
	{% include "productos/comentarios/listar.html" %}
	</div>
{% endblock contenido %}