{% extends "base/admin/base.html" %}

{% block contenido %}
<a href="{% url 'productos:admin_nuevo' %}">Nuevo Producto</a>
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Cód. Producto</th>
			<th scope="col">Nombre</th>
			<th scope="col">Precio</th>
			<th scope="col">Cantidad</th>
			<th scope="col">Activo</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for producto in lista_productos %}
		<tr>
			<th scope="row">{{producto.id}}</th>
			<td>{{producto.nombre}}</td>
			<td>$ {{producto.precio}}</td>
			<td>{{producto.cantidad}}</td>
			<td>
				{% if producto.activo %}
					Activado
				{% else %}
					Desactivado
				{% endif %}
			</td>
			<td>
				<a href="{% url 'productos:admin_editar' producto.id %}">Editar</a>
				<a href="{% url 'productos:admin_borrar' producto.id %}">Borrar</a>
				<a href="{% url 'productos:admin_detalle' producto.id  %}">Visualizar</a>
			</td>
		</tr>
		{% endfor %}

	</tbody>
</table>

<div class="row">
	{% include "includes/paginador.html" %}
</div>


{% endblock contenido %}